:root {
    --fundo-roxo-escuro: #191922;
    --fundo-roxo: #3C394A;
    --fundo-roxo-claro: #7A69DB;
    --fundo-branco: #DFDFDF;
    --fundo-cinza: #24232B;
    --fundo-preto: #000000;
    --fundo-rosa: #F6A2A2;

    --fonte-branca: #FFFFFF;
    --fonte-cinza: #272727;
    --fonte-preta: #000000;
}
